<footer>
  <small>&copy;<a href="http://digioli.co.uk" target="_blank" rel="external" title="Digioli, JavaScript engineering">Digioli.co.uk</a></small>
  <nav>
    <ul>
      <li><a href="/?engine=backbone" title="Backbone version">Backbone</a></li>
      <li><a href="/?engine=angular" title="Angular version">Angular</a></li>
    </ul>
  </nav>
</footer>