<% include ../partials/head %>
<body>

  <form id="url-form" action="">
    <label for="content-url"></label>
    <input type="url" name="content-url" required>
    <button type="submit">Get content</button>
  </form>
  <article>
    <div id=""></div>
  </article>

  <% include ../partials/footer %>

</body>
</html>