body {
  text-align: center;
}

.formrow {
  margin-bottom: 2rem;
}

.formrow label {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
}

input[type="url"], textarea {
  font-size: 1.2rem;
  padding: 0.5rem;
  width: 25rem;
}

textarea {
  border-color: #d4d4d4;
  height: 10rem;
}

button {
  padding: 0.8rem 1.6rem;
  font-size: 1rem;
}

button:hover {
  cursor: pointer;
}

a {
  color: #A5DCFF;
  text-decoration: none;
}

p {
  color: grey;
}

#app > h1 {
  margin-top: 2rem;
  margin-bottom: 3rem;
  font-size: 7rem;
  color: rgba(0, 0, 0, 0.32);
  text-shadow: 7px 7px 20px;
}

.words {
  font-size: 1.5rem;
  margin: 1rem 0.5rem 2rem;
}

#list {
  position: absolute;
  top: 2rem;
  right: 1rem;
  text-align: left;
}

#list button {
  border-radius: 2rem;
  padding: 0.5rem;
  margin: 0;
  line-height: 0.8rem;
  background-color: #E1FFFF;
  font-size: 1.1rem;
  font-weight: bold;
  float: right;
}

#list button:focus {
  outline: none;
}

.config {
  position: absolute;
  top: 0;
  right: 0;
}

.config h2 {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
}

.config::before {
  content: "\2699";
  font-size: 2.2rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: rgba(0, 0, 0, 0.42);
}

.config div {
  display: none;
  width: 15em;
  padding: 1rem;
  box-shadow: -3px 3px 35px -5px #ccc;
  background-color: rgba(255,255,255,0.5);
  position: absolute;
  top: 1.2rem;
  right: 0.8rem;
}

.config:hover div {
  display: block;
}