<% include ../../partials/head %>
<body>

  <div id="container">
    <div id="app">  
      <h1>Wordify</h1>
      <h2>Speed reading</h2>
    </div>
  </div>

  <% include ../../partials/footer %>

  <% include ../partials/footer %>

  <% include ../../partials/analytics %>

</body>
</html>